[Desktop Entry]
Name=Slack (Custom)
StartupWMClass=Slack
Comment=Slack Desktop (Custom)
GenericName=Slack Client for Linux
Exec=/bin/slack --ozone-platform=wayland --enable-features=UseOzonePlatform,WebRTCPipeWireCapturer
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
