[Desktop Entry]
Name=Theme - Turn on the lights
Comment=Switch theme to on
Exec=/opt/bin/switch_theme on
Icon=redshift-status-on
Type=Application
Terminal=false
Categories=Development;TextEditor;
Keywords=Text;Editor;
