[Unit]
Description=Sync with nextcloud-sync

[Service]
Type=oneshot
EnvironmentFile=/opt/bin/nextcloud.pass
ExecStart=/usr/bin/sh -c "/usr/bin/nextcloudcmd -u $NEXTCLOUD_USER -p $NEXTCLOUD_PASSWORD $NEXTCLOUD_PATH $NEXTCLOUD_URL"

[Install]
WantedBy=default.target