[Unit]
Description=Sync nextcloud folder

[Timer]
OnStartupSec=10m
OnUnitActiveSec=15m
OnUnitInactiveSec=2h
Persistent=true

[Install]
WantedBy=timers.target