alias ohmyzsh="vim ~/.oh-my-zsh"
alias zshconfig="vim ~/.zshrc"
alias zshsource="source ~/.zshrc"
alias vimconfig="vim ~/.vimrc"
alias vimsource="source ~/.vimrc"

alias xc="xclip -sel clip"
alias xco="xclip -o -sel clip"
alias pg="ping google.com"
alias youtube-dl="noglob youtube-dl"
alias sv="sudo gvim"
alias ranger="TERM=xterm-256color ranger"
alias nw="nmcli dev wifi"
alias package_size="expac "%n %m" -l'\n' -Q $(pacman -Qq) | sort -rhk 2 | less"
