alias ohmyzsh="vim ~/.oh-my-zsh"
alias zshconfig="vim ~/.zshrc"
alias zshsource="source ~/.zprofile && source ~/.zshrc"
alias vimconfig="vim ~/.vimrc"
alias vimsource="source ~/.vimrc"

alias xc="wl-copy"
alias xco="wl-paste"
alias pg="ping google.com"
alias youtube-dl="noglob youtube-dl"
alias sv="sudo gvim"
alias ranger="TERM=xterm-256color ranger"
alias nw="nmcli dev wifi"
alias mp="nohup /usr/bin/python2 /usr/bin/mopidy --config /home/guilherme/.config/mopidy/mopidy.conf > /dev/null 2>&1 &"

alias be="bundle exec "
alias bs="bundle exec spring"

alias em="emacsclient -ct"
alias k="kubectl"

alias myipdetails="curl ipinfo.io"
alias myip="curl -s ipinfo.io | jq '.ip'"

alias kgpl='kubectl get pods '
