function gi() { curl https://www.gitignore.io/api/$@ ;}

function mako_system_cm() {
    adb reboot-booloader
    sudo fastboot flash system $HOME/Projects/CM/out/target/product/mako/system.img
    sudo fastboot reboot
}
