function gi() { curl https://www.gitignore.io/api/$@ ;}

function gofwd() {
  git checkout `git rev-list --topo-order HEAD..master | tail -1`
}

function trc () {
  transmission-remote-cli "$(xco)"
}

# If tmux is enabled, then startx in invoked, it gives the error xf86OpenConsole: VT_ACTIVATE failed: Operation not permitted
# Therefore, it only launches tmux when there is a X window
# TERM == dumb is when you're trying to connect with tramp
if [ "$TERM" != "linux" ] && [ "$TERM" != "dumb" ]
then
  # Start shell with tmux
  # If not running interactively, do not do anything
  [[ $- != *i* ]] && return
  [[ -z "$TMUX" ]] && exec tmux -2
fi

function aws_profiles() {
  [[ -r "${AWS_CONFIG_FILE:-$HOME/.aws/config}" ]] || return 1
  grep '\[' "${AWS_CONFIG_FILE:-$HOME/.aws/config}"|sed -e 's/[][]//g'
}

function asp() {
  if [[ -z "$1" ]]; then
    unset AWS_DEFAULT_PROFILE AWS_PROFILE AWS_EB_PROFILE
    echo AWS profile cleared.
    return
  fi

  local available_profiles=($(aws_profiles))
  if [[ -z "${available_profiles[(r)$1]}" ]]; then
    echo "${fg[red]}Profile '$1' not found in '${AWS_CONFIG_FILE:-$HOME/.aws/config}'" >&2
    echo "Available profiles: ${(j:, :)available_profiles:-no profiles found}${reset_color}" >&2
    return 1
  fi

  export AWS_DEFAULT_PROFILE=$1
  export AWS_PROFILE=$1
  export AWS_EB_PROFILE=$1
}

function aws_prompt_info() {
  [[ -z $AWS_PROFILE ]] && return
  echo "<aws:${AWS_PROFILE}>"
}

if [[ -z $DISPLAY ]] && [[ $(tty) = /dev/tty1 ]]; then exec startx; fi

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

