[user]
	email = gjhenrique@gmail.com
	name = Guilherme Henrique
[core]
	editor = vim
	trustctime = false
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[grep]
	extendRegexp = true
	lineNumber = true
[push]
	default = matching