[user]
	email = me@gjhenrique.com
	name = gjhenrique

[core]
	editor = vim
	trustctime = false
	excludesfile = ~/.gitignore_global

[color]
	ui = true

[grep]
	extendRegexp = true
	lineNumber = true

[push]
	default = matching

[http "https://gopkg.in"]
	followRedirects = true

[github]
	user = me@gjhenrique.com

[includeIf "gitdir:~/Projects/prezi/"]
	path = /home/guilherme/.prezi.gitconfig
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
