configuration {
  font: "Source Code Pro 12";
  show-icons: true;
  terminal: "alacrity";
  drun-match-fields: "name,generic,exec,categories";
  sidebar-mode: false;
  combi-hide-mode-prefix: true;
  display-drun: "";
  theme: "DarkBlue";
  monitor: "1";
}
