configuration {
  font: "Source Code Pro 12";
  show-icons: true;
  terminal: "footclient";
  drun-match-fields: "name,generic,exec,categories";
  sidebar-mode: false;
  combi-hide-mode-prefix: true;
  display-drun: "";
  monitor: "1";
}

@theme "DarkBlue"
